$background: #1d1b1c;
$font-family: 'Josefin Sans', sans-serif;

$text-color: #f5f5f5;

$background-modal: rgb(60, 62, 68);

$blue: #00BDD3;
$orange: #f7941f;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$crimson: #dc143cff;