@use '../../sass' as *;

.users-list {
  &--item {
    margin-top: 1rem;
  }

  &--name-container {
    @include flex(flex-start, flex-start);
    gap: 10px;
  }

  &--btn {
    color: $orange;
  }

  p {
    span {
      color: $blue;
    }
  }

  &--edit {
    color: $primary;
    transition: 0.2s;
    &:hover {
      color: $orange;
    }
  }

  &--delete{
    color: $crimson;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}